<section class="collaborative">
    <div class="container collaborative-container">
        <div class="collaborative-text-container">
            <p class="coll-title-text">Optimisation for</p>
            <h2 class="coll-title">Collaborative</h2>
            <p class="coll-descr">Few would argue that, despite the advancements of feminism over the past three
                decades, women still
                face
                a double
                standard when it comes to their behavior.</p>
            <ul class="coll-list">
                <li class="coll-item">
                    <h3 class="coll-subtitle">Accessory makers</h3>
                    <p class="coll-text">While most people enjoy casino gambling, sports betting, lottery and
                        bingo
                        playing for the
                        fun
                    </p>
                </li>
                <li class="coll-item">
                    <h3 class="coll-subtitle">Alterationists</h3>
                    <p class="coll-text">If you are looking for a new way to promote your business that won’t
                        cost
                        you more money,</p>
                </li>
            </ul>
        </div>
        <img src="./images/collaboration-img (1).svg" alt="collaboration-img">
    </div>
</section>