<section class="customer">
    <div class="container customer-container">
        <img src="./images/support-img.svg" alt="support-img" width="540" height="500">
        <div class="customer-text-container">
            <p class="customer-title-text">Easier decision making for</p>
            <h2 class="customer-title">Customer Support</h2>
            <p class="customer-descr">The Myspace page defines the individual, his or her characteristics,
                traits, personal choices and
                the
                overall
                personality of the person.</p>
            <ul class="customer-list">
                <li class="customer-item">
                    <p class="customer-text">Never worry about overpaying for your energy again.</p>
                </li>
                <li class="customer-item">
                    <p class="customer-text">We will only switch you to energy companies that we trust and will
                        treat
                        you right</p>
                </li>
                <li class="customer-item">
                    <p class="customer-text">We track the markets daily and know where the savings are.</p>
                </li>
            </ul>
        </div>
    </div>
</section>