<section class="hero">
    <div class="container hero-container">
        <div>
            <h1 class="hero-title">Work at the speed
                of thought</h1>
            <p class="hero-text">Tools, tutorials, design and innovation experts, all in one place! The most
                intuitive
                way to imagine your
                next user
                experience.</p>
            <ul class="hero-list">
                <li><button class="hero-start-btn" type="button">Get started</button></li>
                <li><a class="hero-watch-link" href="">
                        <svg class="hero-icon-watch" width="16" height="18">
                            <use href="./images/icons.svg#icon-watch"></use>
                        </svg>
                        Watch the Video</a>
                </li>
            </ul>
        </div>
        <img src="./images/hero-img.svg" alt="hero">
    </div>
</section>