<section class="management">
    <div class="container management-container">
        <div>
            <p class="management-title-text">Effortless Validation for</p>
            <h2 class="management-title">Management</h2>
            <p class="management-text">The Myspace page defines the individual, his or her characteristics,
                traits,
                personal choices and the
                overall personality of the person. </p>
            <ul class="management-list">
                <li class="management-list-item">
                    <h3 class="management-subtitle">Accessory makers</h3>
                    <p class="management-subtitle-text">While most people enjoy casino gambling, sports betting,
                        lottery and bingo playing for the
                        fun
                    </p>
                </li>
                <li class="management-list-item">
                    <h3 class="management-subtitle">Alterationists</h3>
                    <p class="management-subtitle-text">If you are looking for a new way to promote your
                        business
                        that won’t cost you more money</p>
                </li>
            </ul>
        </div>
        <img class="management-img" src="./images/management-img.svg" alt="management-img" width="540" height="500">
    </div>
</section>